* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
}

#controls {
    flex: 1;
    margin-left: 20px;
}

#board:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-color: brown;
}

#board {
    border: 10px solid black;
    background-color: bisque;
    position: relative;
    width: 600px;
    height: 600px;
    margin: 10px;
    display: grid;
    grid-template-rows: 20px repeat(11, 1fr) 20px;
    grid-template-columns: 20px repeat(11, 1fr) 20px;
    grid-template-areas:
        "top-left top-left top-left top-left top-left top-center top-center top-center top-right top-right top-right top-right top-right"
        "top-left top-left top-left top-left top-left top-center top-center top-center top-right top-right top-right top-right top-right"
        "top-left top-left top-left top-left top-left top-center top-center top-center top-right top-right top-right top-right top-right"
        "top-left top-left top-left top-left top-left top-center top-center top-center top-right top-right top-right top-right top-right"
        "top-left top-left top-left top-left top-left top-center top-center top-center top-right top-right top-right top-right top-right"
        "middle-left middle-left middle-left middle-left middle-left middle-center middle-center middle-center middle-right middle-right middle-right middle-right middle-right"
        "middle-left middle-left middle-left middle-left middle-left middle-center middle-center middle-center middle-right middle-right middle-right middle-right middle-right"
        "middle-left middle-left middle-left middle-left middle-left middle-center middle-center middle-center middle-right middle-right middle-right middle-right middle-right"
        "bottom-left bottom-left bottom-left bottom-left bottom-left bottom-center bottom-center bottom-center bottom-right bottom-right bottom-right bottom-right bottom-right"
        "bottom-left bottom-left bottom-left bottom-left bottom-left bottom-center bottom-center bottom-center bottom-right bottom-right bottom-right bottom-right bottom-right"
        "bottom-left bottom-left bottom-left bottom-left bottom-left bottom-center bottom-center bottom-center bottom-right bottom-right bottom-right bottom-right bottom-right"
        "bottom-left bottom-left bottom-left bottom-left bottom-left bottom-center bottom-center bottom-center bottom-right bottom-right bottom-right bottom-right bottom-right"
        "bottom-left bottom-left bottom-left bottom-left bottom-left bottom-center bottom-center bottom-center bottom-right bottom-right bottom-right bottom-right bottom-right"
}

.secondary {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.secondary.top-left {
    grid-area: top-left;
}

.secondary.top-right {
    grid-area: top-right;
}

.secondary.bottom-left {
    grid-area: bottom-left;
}

.secondary.bottom-right {
    grid-area: bottom-right;
}

.main.top-center {
    grid-area: top-center;
}

.main.middle-left {
    grid-area: middle-left;
}

.main.middle-center {
    grid-area: middle-center;
}

.main.middle-right {
    grid-area: middle-right;
}

.main.bottom-center {
    grid-area: bottom-center;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main.middle-right {
    flex-direction: row;
}

.cell {
    background-color: white;
    border-radius: 50%;
    border: 3px solid black;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}